#about {
    width: 100%;
    padding: 30px;
    h1 {
        color: $light;
        text-align: center;
        font-size: 100px;
        font-weight: 200;
        text-transform: uppercase;
    }
    .card {
        @include hover-card($light);
        width: 100%;
        padding: 20px;
        text-align: center;
        .user-img {
            text-align: center;
            margin-left: 10px;
            img {
                text-align: center;
            }
        }
        .user-content {
            padding-left: 20px;
            padding-right: 20px;
            .name {
                color: $primary;
                font-size: 20px;
            }
            .position {
                color: $primary;
                font-size: 25px;
                font-weight: bold;
                text-transform: uppercase;
            }
            .content {
                text-align: left;
                color: $dark;
                font-size: 25px;
                font-weight: 400;
                line-height: 30px;
            }
        }
    }
}