#about {
    width: 100%;
    padding: 30px;
    h1 {
        color: $light;
        text-align: center;
        font-size: 8rem;
        font-weight: 200;
        text-transform: uppercase;
    }
    .card {
        @include hover-card($light);
        transition: all 0.3s ease-in-out;
        width: 90%;
        height: 70vh;
        padding: 20px;
        text-align: center;
        .user-img {
            text-align: center;
            margin-left: 10px;
            img {
                text-align: center;
                width: 270px;
                height: 160px;
            }
        }
        .user-content {
            text-align: center;
            .name {
                color: $primary;
            }
            .position {
                color: $primary;
                font-size: 1.5rem;
                font-weight: bold;
                text-transform: uppercase;
            }
            .content {
                color: $dark;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 30px;
            }
        }
    }
}