#background {
    width: 100%;
    margin-top: 0;
    h1 {
        color: $light;
        text-align: center;
        font-size: 100px;
        font-weight: 200;
        text-transform: uppercase;
    }
    .content {
        color: $light;
        font-size: 25px;
        font-weight: 150;
        margin-left: 20px;
        line-height: 40px;
        padding: 0 40px;
    }
    .pic {
        width: 450px;
        height: 450px;
        background: url('../images/pic1.png') no-repeat center center;
        background-size: cover;
        border-radius: 50%;
    }
}