footer {
    background: rgba($light, 0.5);
    width: 100%;
    display: inline-block;
    .logo {
        float: left;
        background: url('../images/logo.png') no-repeat center center;
        background-size: cover;
        width: 80px;
        height: 80px;
        display: inline-block;
    }
    .copyright {
        padding: 15px;
    }
    .footer-logo {
        background: url('../images/logo.png') no-repeat center center;
        background-size: cover;
        width: 120px;
        height: 100px;
        position: absolute;
        right: 50%;
        margin-top: -80px;
    }
    .social {
        text-align: right;
        div {
            display: inline-block;
            width: 80px;
            height: 80px;
            padding-left: -20px;
        }
        .facebook {
            background: url('../images/footer_fb.png') no-repeat center center;
            background-size: cover;
        }
        .twitter {
            background: url('../images/footer_twitter.png') no-repeat center center;
            background-size: cover;
        }
        .instagram {
            background: url('../images/footer_instagram.png') no-repeat center center;
            background-size: cover;
        }
    }
}