* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Oswald", sans-serif;
    background: url('../images/Background.jpg') center center;
    background-size: cover;
    padding: 0;
    margin: 0;
}

p {
    font-family: "Hind Guntur", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Oswald;
}