// Header
header {
    .navbar {
        width: 100%;
        background: rgba($light, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;
        padding-right: 20px;
        .brand {
            text-align: center;
            position: fixed;
            right: 50%;
            z-index: 2;
            .logo {
                width: 100px;
                height: 100px;
                text-align: right;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: right;
            li {
                padding: 5px 10px;
                display: inline-block;
                text-align: center;
                line-height: 60px;
                a {
                    color: $dark;
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 300;
                }
                &:hover {
                    background: #fff;
                    transition: all 0.3s ease-in-out;
                }
                &.active {
                    background: #fff;
                }
            }
        }
    }
}