// Home
#home {
    .content {
        width: 100%;
        text-align: center;
        margin-top: 10%;
        .project {
            display: block;
            font-size: 100px;
            font-weight: 500;
            color: $light;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
        .title {
            display: block;
            font-size: 100px;
            font-weight: 200;
            color: $dark;
            text-transform: uppercase;
            margin-top: -40px;
        }
        .subtitle {
            display: block;
            font-size: 30px;
            font-weight: 200;
            color: $light;
            text-transform: lowercase;
        }
    }
    .btn {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 200px;
        a {
            background: $primary;
            font-size: 20px;
            text-decoration: none;
            font-weight: 200;
            color: $light;
            border: 0;
            padding: 10px 25px;
            letter-spacing: 10px;
            cursor: pointer;
        }
    }
}