@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:300,400|Oswald:200,300,400');
@import 'global';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'header';
@import 'home';
@import 'background';
@import 'about';
@import 'blog';
@import 'news';
@import 'footer';
#blog {
    width: 100%;
    h1 {
        color: $light;
        text-align: center;
        font-size: 8rem;
        font-weight: 200;
        text-transform: uppercase;
    }
    .card {
        @include hover-card($light);
        transition: all 0.3s ease-in-out;
        width: 100%;
        padding: 0;
        margin: 0;
        .blog-content {
            display: inline-block;
            width: 100%;
            .blog-header {
                background: $light;
                width: 100%;
                height: 40px;
                .title {
                    color: $primary;
                    font-size: 1.3rem;
                    padding-left: 20px;
                }
            }
            .blog-body {
                padding: 0 20px;
                .title {
                    color: $primary;
                }
                .body {
                    color: $dark;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
        }
    }
}

#news-media {
    margin-top: 200px;
    width: 100%;
    text-align: center;
    h1 {
        color: $light;
        text-align: center;
        font-size: 8rem;
        font-weight: 200;
        text-transform: uppercase;
    }
    object {
        width: 100%;
    }
}

#contact-us {
    margin-top: 200px;
    width: 100%;
    h1 {
        color: $light;
        text-align: center;
        font-size: 8rem;
        font-weight: 200;
        text-transform: uppercase;
    }
    span {
        display: block;
        color: $light;
        &.author {
            font-size: 2rem;
        }
        &.school {
            font-size: 2rem;
            padding-top: 30px;
        }
        &.address {}
    }
}