@import url("https://fonts.googleapis.com/css?family=Hind+Guntur:300,400|Oswald:200,300,400");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Oswald", sans-serif;
  background: url("../images/Background.jpg") no-repeat center center;
  background-size: cover; }

.col1 {
  margin: 1.0416666667%;
  width: 6.25%; }

.col2 {
  margin: 1.0416666667%;
  width: 14.5833333333%; }

.col3 {
  margin: 1.0416666667%;
  width: 22.9166666667%; }

.col4 {
  margin: 1.0416666667%;
  width: 31.25%; }

.col5 {
  margin: 1.0416666667%;
  width: 39.5833333333%; }

.col6 {
  margin: 1.0416666667%;
  width: 47.9166666667%; }

.col7 {
  margin: 1.0416666667%;
  width: 56.25%; }

.col8 {
  margin: 1.0416666667%;
  width: 64.5833333333%; }

.col9 {
  margin: 1.0416666667%;
  width: 72.9166666667%; }

.col10 {
  margin: 1.0416666667%;
  width: 81.25%; }

.col11 {
  margin: 1.0416666667%;
  width: 89.5833333333%; }

.col12 {
  margin: 1.0416666667%;
  width: 97.9166666667%; }

header .navbar {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  padding-right: 20px; }
  header .navbar .project-title {
    float: left;
    padding: 15px 30px; }
    header .navbar .project-title a {
      text-decoration: none;
      color: #141414;
      font-size: 30px; }
  header .navbar .brand {
    text-align: center;
    position: fixed;
    right: 50%;
    z-index: 2; }
    header .navbar .brand .logo {
      width: 150px;
      height: 100px;
      text-align: right; }
  header .navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right; }
    header .navbar ul li {
      padding: 5px 10px;
      display: inline-block;
      text-align: center;
      line-height: 60px; }
      header .navbar ul li a {
        color: #141414;
        text-decoration: none;
        font-size: 20px;
        font-weight: 300; }
      header .navbar ul li:hover {
        background: #fff;
        transition: all 0.3s ease-in-out; }

main div {
  width: 100%;
  float: left;
  padding: 16px;
  width: 100%;
  display: inline-block; }
  main div#home {
    text-align: center;
    margin-top: 10%; }
    main div#home .project {
      display: block;
      font-size: 100px;
      font-weight: 500;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 5px; }
    main div#home .title {
      display: block;
      font-size: 100px;
      font-weight: 200;
      color: #141414;
      text-transform: uppercase;
      margin-top: -40px; }
    main div#home .subtitle {
      display: block;
      font-size: 30px;
      font-weight: 200;
      color: #ffffff;
      text-transform: lowercase; }
    main div#home .btn {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 200px; }
      main div#home .btn a {
        background: #e24242;
        font-size: 20px;
        text-decoration: none;
        font-weight: 200;
        color: #ffffff;
        border: 0;
        padding: 10px 25px;
        letter-spacing: 10px;
        cursor: pointer; }
  main div#background h1 {
    color: #ffffff;
    text-align: center;
    font-size: 100px;
    font-weight: 200;
    text-transform: uppercase; }
  main div#background p {
    color: #ffffff;
    font-size: 25px;
    font-weight: 150;
    margin-left: 20px;
    line-height: 40px;
    padding: 40px 0; }
  main div#background .pic {
    width: 450px;
    height: 450px;
    background: url("../images/Ioel.png") no-repeat center center;
    background-size: cover;
    border-radius: 50%; }
  main div#about h1 {
    color: #ffffff;
    text-align: center;
    font-size: 100px;
    font-weight: 200;
    text-transform: uppercase; }
  main div#about .card {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 15px;
    text-align: center; }
    main div#about .card .user-img {
      text-align: center;
      margin-left: 10px; }
      main div#about .card .user-img img {
        text-align: center; }
    main div#about .card .user-content {
      padding-left: 20px;
      padding-right: 20px; }
      main div#about .card .user-content .name {
        color: #e24242;
        font-size: 20px;
        display: inline; }
      main div#about .card .user-content .position {
        color: #e24242;
        display: inline-block;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase; }
      main div#about .card .user-content .content {
        text-align: left;
        color: #141414;
        font-size: 25px;
        font-weight: 400;
        line-height: 30px; }
  main div#blog {
    padding: 20px; }
    main div#blog .sub-heading {
      text-align: center;
      color: #ffffff;
      font-size: 2rem; }
    main div#blog h1 {
      color: #ffffff;
      text-align: center;
      font-size: 100px;
      font-weight: 200;
      text-transform: uppercase; }
    main div#blog .card {
      background: rgba(255, 255, 255, 0.5);
      width: 100%;
      padding: 0;
      margin: 0;
      height: 300px; }
      main div#blog .card .blog-content {
        display: inline-block;
        width: 100%; }
        main div#blog .card .blog-content .blog-header {
          background: #ffffff;
          width: 100%;
          height: 40px;
          padding: 0; }
          main div#blog .card .blog-content .blog-header .title {
            color: #e24242;
            padding-left: 20px; }
        main div#blog .card .blog-content .blog-body {
          padding-left: 40px; }
          main div#blog .card .blog-content .blog-body .body {
            color: #141414;
            font-size: 18px; }
  main div#news-media h1 {
    color: #ffffff;
    text-align: center;
    font-size: 100px;
    font-weight: 200;
    text-transform: uppercase; }
  main div#news-media .sub-heading {
    text-align: center;
    color: #ffffff;
    font-size: 28px; }
  main div#news-media .card {
    width: 60%;
    background: rgba(255, 255, 255, 0.5);
    float: none;
    margin: 0 auto;
    display: block; }
    main div#news-media .card h2 {
      color: #e24242;
      font-size: 24px; }
    main div#news-media .card p {
      color: #141414;
      font-size: 22px;
      padding: 0 20px;
      line-height: 40px; }
    main div#news-media .card a {
      text-decoration: underline;
      color: #e24242;
      font-size: 22px;
      padding: 0 20px; }
    main div#news-media .card.media {
      text-align: center; }
      main div#news-media .card.media h2 {
        text-align: left; }
  main div#contact-us {
    text-align: center;
    padding-bottom: 100px; }
    main div#contact-us h1 {
      color: #ffffff;
      text-align: center;
      font-size: 100px;
      font-weight: 200;
      text-transform: uppercase; }

footer {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  float: left; }
  footer div {
    float: left; }
  footer .logo {
    background: url("../images/logo.png") no-repeat center center;
    background-size: cover;
    width: 80px;
    height: 80px; }
  footer .copyright {
    margin-top: 40px; }
  footer .footer-logo {
    background: url("../images/logo.png") no-repeat center center;
    background-size: cover;
    width: 120px;
    height: 100px;
    position: absolute;
    right: 50%;
    margin-top: -80px; }
  footer .social {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding-left: -20px; }
  footer .facebook {
    background: url("../images/footer_fb.png") no-repeat center center;
    background-size: cover; }
  footer .twitter {
    background: url("../images/footer_twitter.png") no-repeat center center;
    background-size: cover; }
  footer .instagram {
    background: url("../images/footer_instagram.png") no-repeat center center;
    background-size: cover; }
